body:after {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    -moz-transition: opacity 1.5s ease-in-out, visibility 1.5s;
    -webkit-transition: opacity 1.5s ease-in-out, visibility 1.5s;
    -ms-transition: opacity 1.5s ease-in-out, visibility 1.5s;
    transition: opacity 1.5s ease-in-out, visibility 1.5s;
    content: '';
    background-image: url(../../images/Zilean_background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    visibility: visible;
    opacity: 1;
}



.content{
    width: 100%;
}

.image-container {
    position: relative;
    display: inline-block;
}

#grandMaster{
    width: 200px;
    height: auto;
}

#channelImg{
    width: 70px;
    height: auto;
}

#youtubemain{
    float: left;
}

.hover-image{
    display: none; /*기본적으로 보이지 않음*/
    position: absolute;
    top: 0;
    left: 0;
    width: 300px; /* hover 이미지 너비 */
    height: auto; /* 이미지 비율 유지 */
}

.image-container:hover .hover-image {
    display: block;
}

.alt{
    font-size: 16px;
}