body:after {
    background-image: url(../../images/Zilean_background.jpg);
    
}

.image-container {
    position: relative;
    display: inline-block;
}

#grandMaster{
    width: 200px;
    height: auto;
}

#channelImg{
    width: 70px;
    height: auto;
}

#youtubemain{
    float: left;
}

.hover-image{
    display: none; /*기본적으로 보이지 않음*/
    position: absolute;
    top: 0;
    left: 0;
    width: 300px; /* hover 이미지 너비 */
    height: auto; /* 이미지 비율 유지 */
}

.image-container:hover .hover-image {
    display: block;
}

.alt{
    font-size: 16px;
}